.nav-link{
    background: rgba(20, 22, 26, 0.5);
    margin: 0 auto;
    width: 100%;
    padding: 5px 50px;
    transition: ease-in .3s;
   margin-bottom: 10px;
}

.nav-link:hover{
    background: rgb(101, 20, 61, .6);
}

a:hover{
    color: white;
}

 a{
    color: rgb(105, 99, 90);
}

